<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <test name="Nopackage" preserve-order="true">
        <classes>
            <class name="com.zentelia.automation.pagefactoryexample.LoginPage">
                <methods>
                    <include name="LoginTest"/>
                </methods>
            </class>
            <class name="com.zentelia.automation.pagefactoryexample.DashboardPage">
                <methods>
                    <include name="DashboardTest"/>
                </methods>
            </class>
            <class name="com.zentelia.automation.pagefactoryexample.SettingsPage">
                <methods>
                    <include name="UserSettingsTest"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
